.tracks-section {
  display: flex;
  padding: 20px;
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  border-bottom: 1px solid purple;
  background-color: rgba(0, 0, 0, .75);
}

.cover-img {
  height: 150px;
  width: 150px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.track-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: white;
  align-items: center;
}

.tracks-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.brightness {
  background-color: white;
  display: inline-block;
  height: 150px;
  width: 150px;
  background-image: url("http://res.cloudinary.com/dfufqfnjx/image/upload/c_scale,w_150/v1478638396/play-overlay_gvvqs6.png");
}

.brightness .cover-img:hover {
  opacity: .5;
}

div.slider-decorator-2{
  display: none;
}

.slider-frame {
  height: 100%;
}

.slider {
  height: 100%;
}

.carousel {
  height: 100%;
}
