.tracks-section {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
  background-color: rgba(0, 0, 0, .75);
}

.cover-img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.track-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: white;
}

.tracks-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
}

.brightness {
  background-color: white;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.brightness .cover-img:hover {
  opacity: .5;
}
