.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, .75);
  border: 1px solid purple;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.logout-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
}

.home-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.DirectoryBar {
  padding: 20px;
  font-size: 30px;
  border-right: 1px solid purple;
  border-left: 1px solid purple;
  border-bottom: 1px solid purple;
  color: white;
  background-color: rgba(0, 0, 0, .75);
}

.home-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
}

.charts-link {
  margin: 20px;
}

.charts-link:hover {
  text-decoration: underline;
}

.option-buttons {
  display: flex;
  align-items: center;
}
