.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid orange;
}

.logout-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.home-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.DirectoryBar {
  width: 60%;
  margin-left: 20px;
  padding: 20px;
  font-size: 30px;
  border-right: 1px solid orange;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

.home-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
}
