// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.splash-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .5);
}

.splash-header {
  font-size: 50px;
  color: purple;
}

.splash-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-bottom: 5%;
}

.header-link {
  display: flex;
  font-weight: 100;
  width: 150px;
  font-size: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 5px;
  border: 1px solid purple;
}

.logo {
  height: 30px;
  width: 45px;
}

.auth-form-modal {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  border-radius: 5px;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.login-input {
  border: 1px solid white;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: white;
}

.auth-form-submit-button {
  height: 40px;
  width: 100%;
  border: 1px solid purple;
  background-color: purple;
  margin-top: 20px;
  color: black;
  cursor: pointer;
}

.form-header {
  font-size: 20px;
  color: purple;
  padding-bottom: 20px;
}

.login-form-container {
  width: 100%
}

.here-button {
  color: purple;
  cursor: pointer;
}

.signup-here {
  color: white;
}

.login-here {
  color: white;
}

.splash-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("http://res.cloudinary.com/dfufqfnjx/image/upload/c_scale,h_1080,w_1920/v1478371800/Concert_hledmj.jpg");
}

.form-errors {
  list-style: none;
  color: white;
  font-size: 12px;
  padding-bottom: 20px;
}

.log-in-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

.sign-up-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.splash-description {
  display: flex;
  text-align: center;
  margin-top: 30px;
  color: white;
  bottom: 10%;
}

.modal-close {
  color: purple;
  cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
