.track-page {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  color: white;
  align-items: center;
}

.track-link:hover {
  text-decoration: underline;
}

.delete-button {
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}

.track-title {
  font-size: 20px;
  margin: 20px;
}

.track-index-title {
  margin: 10px;
}
