.track-page {
  display: flex;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, .75);
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  border-bottom: 1px solid purple;
  position: relative;
}

.track-link:hover {
  text-decoration: underline;
}

.delete-button {
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}

.track-show-title {
  font-size: 40px;
  margin: 20px;
  color: orange;
}

.comments-title {
  font-size: 24px;
  margin-top: 40px;
}

.track-index-title {
  margin: 10px;
}

.track-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.comment-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px;
}

.add-comment-form {
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  padding: 10px;
  border: 1px solid white;
}

.comment-delete-button {
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px;
  margin-left: 20px;
  cursor: pointer;
}

.comments-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 55%;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment-form-submit-button {
  background-color: purple;
  width: 10%;
  color: white;
  padding-top: 30px;
}

.not-audio-player {
  height: fit-content;
}

.show-img {
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.brightness-show {
  background-color: white;
  display: inline-block;
  height: 500px;
  width: 500px;
  background-image: url("http://res.cloudinary.com/dfufqfnjx/image/upload/c_scale,w_500/v1478648058/play-button-overlay-whtie_yuwnv2.png");
}

.brightness-show .show-img:hover {
  opacity: .5;
}

.profile-link:hover {
  text-decoration: underline;
}
